@use './variables.scss' as *;

.container {
  width: min(90%, 1192px);
  margin: 0 auto;  
}

.content {
  display: flex;
  flex-grow: 1;
  margin-left: 198px; 
}

.borderSection {
  border-radius: 16px;
  border: 1px solid var(--border-color);
}