$accent-color: #242E2C;
$bg-color: #EFF0F0;
$border-color: #EFF0F0;
$green-bg: #ECF4E9;
$green-text-color: #1E4841;
$text-color: #6B7271;
$active-color: #BBF49C;
$border-color: #E5E6E6;
$warning-color: #FDCED1;
$icon-color: #BCBEBD;
$warning-accent-color: #F73541;