$accent-color: #242E2C;
$bg-color: #fff;
$border-color: #EFF0F0;
$green-bg: #ECF4E9;
$green-text-color: #1E4841;
$yellow-text-color: #F2B007;
$text-color: #6B7271;
$active-color: #BBF49C;
$border-color: #E5E6E6;
$warning-color: #FDCED1;
$icon-color: #BCBEBD;
$warning-accent-color: #F73541;



:root {
  --accent-color: #242E2C;
  --bg-color: #fff;
  --border-color: #E5E6E6;
  --green-bg: #ECF4E9;
  --grey-bg: #EFF0F0;
  --white-bg: #FBFBFC;
  --green-text-color: #1E4841;
  --goPro-bg: #1E4841;
  --yellow-text-color: #F2B007;
  --text-color: #6B7271;
  --active-color: #BBF49C;
  --warning-color: #FDCED1;
  --icon-color: #BCBEBD;
  --warning-accent-color: #F73541;
}

[data-bs-theme="dark"] {
  --accent-color: #FBFBFC;
  --bg-color: #212529;
  --border-color: #333;
  --green-bg: #1E2E24;
  --grey-bg: #EEEEEF;
  --white-bg: #FBFBFC;
  --green-text-color: #BBF49C;
  --goPro-bg: #203e39;
  --yellow-text-color: #FFD966;
  --text-color: #E0E0E0;
  --active-color: #1E4841;
  --warning-color: #390307;
  --icon-color: #999;
  --warning-accent-color: #FF6B6B;
}